venv/
__pycache__/
*.pyc
.DS_Storeenv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
env/
bin/
lib/
include/
share/
conda-meta/
man/
ssl/
env/
bin/
lib/
include/
share/
conda-meta/
man/
ssl/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
